{% extends "base.html" %}
{% block content %}
<h2>Partidas</h2>
<div>
    {% for partida in partidas %}
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <p>{{ partida.adversario }} - {{ partida.placar_time }} x {{ partida.placar_adversario }} - {{ partida.data|date:"d/m/Y H:i" }}</p>
        <a href="{% url 'partidas:avaliar_partida' partida.id %}">Avaliar Partida</a>
    </div>
    {% empty %}
        <p>Nenhuma partida registrada.</p>
    {% endfor %}
</div>
{% endblock %}
