{% extends 'base.html' %}

{% block content %}
<h1>Lista de Partidas</h1>

{% if partidas %}
    <ul>
        {% for partida in partidas %}
            <li>
                <strong>{{ partida.time_casa.nome }} x {{ partida.time_visitante.nome }}</strong>
                <!-- Link para avaliar esta partida -->
                <a href="{% url 'partidas:avaliar_partida' partida.id %}">Avaliar partida</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma partida cadastrada.</p>
{% endif %}

{% endblock %}