{% extends 'base.html' %}
{% block content %}
<h2>Avaliar Estádio</h2>

<form method="post">
    {% csrf_token %}
    
    <label>Estádio:</label><br>
    <input type="text" name="estadio" placeholder="Digite o nome do estádio" required><br><br>

    <label>Experiência:</label><br>
    {% for i in "12345" %}
        <input type="radio" name="avaliacao_experiencia" value="{{ i }}"> {{ i }} estrela(s)<br>
    {% endfor %}
    <br>

    <label>Comentário:</label><br>
    <textarea name="comentario_estadio" rows="3" placeholder="Escreva seu comentário..."></textarea><br><br>

    <button type="submit">Enviar Avaliação</button>
</form>
{% endblock %}
