<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>OFF</title>
</head>
<body>
    <div class="header">
        <h1>Only Football Fans</h1>
    </div>

    <div class="sidebar">
        <p><strong>Menu</strong></p>
        <ul>
            <li><a href="{% url 'core:nova_avaliacao' %}">Avaliar estádio</a></li>
            <li><a href="{% url 'core:lista_partidas' %}">Avaliar partida</a></li>
            <li><a href="{% url 'core:galeria' %}">Galeria</a></li>
            <li><a href="{% url 'core:registrar_partida' %}">Agenda</a></li>
            <li><a href="#">Assistir jogos</a></li>
            <li><a href="#">Configurações</a></li>
            <li><a href="#">Histórico</a></li>
            <li>
    <form action="{% url 'core:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;">
            Sair
        </button>
    </form>
</li>
        </ul>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

<!--Side Bar (Base de algumas páginas)-->
